
<div class="container">

    <div class="row col-12">

        <div class="col-4">
            <%- partial('../user/detail.ejs') %>
        </div>

        <div class="col-8">
            <%- partial('../user/show.ejs') %>
        </div>

    </div>

</div>