/**
* Created by Gebruiker on 13-1-2018.
*/
/**
* Created by Gebruiker on 10-1-2018.
*/
<div class="container">
    <!-- Content here -->

    <!--Card-->
    <div class="row col-12 justify-content-center" id="signup-card">


        <!--Card-->
        <div class="card col-lg-5 col-5 col-sm-8">

            <!--Card image-->
            <div class="view gradient-scooter card-gradient-top">
                <div class="mask flex-center">
                    <h1 class="white-text">Edit</h1>
                </div>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Text-->
                <form action="/admin/edit" method="post" id="form-signup">

                    <div class="md-form">
                        <i class="far fa-user prefix grey-text"></i>
                        <input type="text" id="defaultForm-name" class="form-control" name="name">
                        <label for="defaultForm-name">Name</label>
                    </div>

                    <div class="md-form">
                        <i class="far fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-email" class="form-control" name="email">
                        <label for="defaultForm-email">Email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control" name="password">
                        <label for="defaultForm-pass">Password</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="role" id="defaultForm-rol" class="form-control" name="role">
                        <label for="defaultForm-rol">Role</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </div>
                </form>

            </div>

        </div>
        <!--/.Card-->


    </div>

</div>