<div class="container">

    <div class="row col-12">

        <div class="col-4">
            <%- partial('detail.ejs') %>
        </div>

        <div class="col-8">
            <%- partial('../wallet/wallet.ejs') %>
        </div>

    </div>

</div>
