<div class="container">

    <div class="row col-12 justify-content-center">
        <h3>These users liked the charity</h3>
        <table class="table">
            <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <% if (typeof records !== 'undefined' && records.length > 0) { %>
            <tr>
                <% _.each(records, function (record) { %>
                <% _.each(record.likes, function (user) { %>
                <% if (typeof user !== 'undefined') { %>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>

                <% } %>
                <% }) %>
                <% }) %>

            </tr>

            <% } %>
            </tbody>
        </table>

    </div>

</div>